{% extends "base.html" %}
{% block title %} HSH Delivery Employee {% endblock %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/client">Home Sweet Home Delivery</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/client">Home</a>
                <a class="nav-item nav-link" title="Check package information" href="/client/packages">Orders</a>
                <a class="nav-item nav-link" title="Add/Remove/Edit user information" href="/client/account">Customers</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</header>
    <main>
        <h3>All Packages Sent by You</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Package Number</th>
                    <th scope="col">Recipient email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Dimensions</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Package Category</th>
                    <th scope="col">Delivery Cost</th>
                    <th scope="col">Value of contents</th>
                    <th scope="col">Trace the package</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                {% if package.senderid == clientid %}
                <tr>
                    <td>{{ package.packageno }}</td>
                    <td>{{ package.receiver_email }}</td>
                    <td>{{ package.status }}</td>
                    <td>{{ package.weight }}</td>
                    <td>{{ package.width + 'x' + package.height + 'x' + package.depth }}</td>
                    <td>{{ package.destination }}</td> {# <!--address of receiver--> #}
                    <td>{{ package.delivery_date }}</td>
                    <td>{{ package.category }}</td>
                    <td>{{ package.cost }}</td> {# <!--calculated from weight--> #}
                    <td>{{ package.value }}</td>
                    <td><a href="/client/trace/{{ package.packageno }}">Trace</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br><hr><br>
        <h3>All Packages Sent to You</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Package Number</th>
                    <th scope="col">Sender email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Dimensions</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Package Category</th>
                    <th scope="col">Delivery Cost</th>
                    <th scope="col">Value of contents</th>
                    <th scope="col">Trace the package</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                {% if package.receiverid == clientid %}
                <tr>
                    <td>{{ package.packageno }}</td>
                    <td>{{ package.sender_email }}</td>
                    <td>{{ package.status }}</td>
                    <td>{{ package.weight }}</td>
                    <td>{{ package.width + 'x' + package.height + 'x' + package.depth }}</td>
                    <td>{{ package.destination }}</td> {# <!--address of receiver--> #}
                    <td>{{ package.delivery_date }}</td>
                    <td>{{ package.category }}</td>
                    <td>{{ package.cost }}</td> {# <!--calculated from weight--> #}
                    <td>{{ package.value }}</td>
                    <td><a href="/client/trace/{{ package.packageno }}">Trace</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}