{% extends "base.html" %}
{% block title %} HSH Delivery Employee {% endblock %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/employee">Home Sweet Home Delivery</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/employee">Home</a>
                <a class="nav-item nav-link" title="Add/Remove/Edit package information" href="/employee/package">Orders</a>
                <a class="nav-item nav-link" title="Add/Remove/Edit user information" href="/employee/customers">Customers</a>
                <a class="nav-item nav-link" title="generate reports" href="/employee/reports">Reports</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</header>
<main>
<h3>Find a client</h3>
        <form method="POST" action="/employee/customers">
            <div class="form-group">
                <label for="email">Customer Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter customer email" value="{{client.email}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if client %}
        <h3>client Details</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Client ID</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{client.clientid}}</td>
                    <td>{{client.fname}} {{client.minitial}}. {{client.lname}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.phone_number}}</td>
                    <td>{{client.address}}</td>
                </tr>
            </tbody>
        </table>
        <p><a href="/employee/customers/edit/{{client.clientid}}">Edit info</a></p>
        <p><a href="/employee/customers/remove/{{client.clientid}}">Remove client</a></p>
        <p><a href="mailto:{{client.email}}">Send Email</a></p>
        {% endif %}
</main>
{% endblock %}