{% extends "base.html" %}
{% block title %} HSH Delivery Login {% endblock %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/employee">Home Sweet Home Delivery</a>
    </nav>
</header>
<main>
    <p>Please login to get access to our services</p>
    {% if errors %}
    {% for error in errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="email" class="form-label">email</label>
            <input type="email" class="form-control" name="email" id="username" placeholder="example@someemail.com" value="{{body.email}}">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="******">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Need an account? register <a href="/register">here</a></p>
</main>
{% endblock %}