{% extends "base.html" %}
{% block title %} HSH Delivery Employee {% endblock %}
{% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home Sweet Home Delivery</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/employee">Home</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit package information" href="/employee/orders">Orders</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit user information" href="/employee/customers">Customers</a>
                    <a class="nav-item nav-link" title="generate reports" href="/employee/reports">Reports</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- create package form -->
        <form method="post">
            <!-- <div class="form-group">
                <label for="package_id">Package ID</label>
                <input type="text" class="form-control" id="package_id" name="package_id" placeholder="Enter package ID">
            </div> -->
            <div class="form-group">
                <label for="email">client email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter the customer's email">
            </div>
            <div class="form-group">
                <label for="receiver_email">Receiver email</label>
                <input type="email" class="form-control" id="receiver_email" name="receiver_email" placeholder="Enter the receiver's email">
            </div>
            <div class="form-group">
                <label for="weight">Package weight</label>
                <input type="text" class="form-control" id="weight" name="weight" placeholder="Enter package weight">
            </div>
            <div class="form-group">
                <label for="height">Package height</label>
                <input type="text" class="form-control" id="height" name="height" placeholder="Enter package height">
                <label for="Width">Package Width</label>
                <input type="text" class="form-control" id="Width" name="Width" placeholder="Enter package Width">
                <label for="Depth">Package Depth</label>
                <input type="text" class="form-control" id="Depth" name="Depth" placeholder="Enter package Depth">
            </div>
            <div class="form-group">
                <label for="insurance amount">Package insurance amount</label>
                <input type="text" class="form-control" id="insurance amount" name="insurance amount" placeholder="Enter package insurance amount">
            </div>
            <div class="form-group">
                <label for="delivery_date">Enter expected Delivery date</label>
                <input type="date" class="form-control" id="delivery_date" name="delivery_date" placeholder="Enter package insurance amount">
            </div>
            <div class="form-group">
                <label for="Category">Contents Category</label>
                <input type="text" class="form-control" id="Category" name="Category" placeholder="Enter package Category">
            </div>
            <div class="form-group">
                <label for="value">Contents Value</label>
                <input type="text" class="form-control" id="value" name="value" placeholder="Enter package value">
            </div>
            <div class="form-group">
                <label for="centerid">Center ID</label>
                <input type="text" class="form-control" id="centerid" name="centerid" placeholder="Enter center id">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </main>
{% endblock %}