{% extends "base.html" %}
{% block title %} HSH Delivery Register {% endblock %}
{% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/employee">Home Sweet Home Delivery</a>
        </nav>
    </header>
    <main>
    <h2>Register form</h2>
    <form method="post">
        {% if errors  %}
            {% for error in errors %}
                <p class="error">{{ error.msg }}</p>
            {% endfor %}
        {% endif %}
            <div class="row form-group">
                <div class="col-4">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" value="{{body.firstname}}">
                </div>
                <div class="col-4">
                    <label for="minitial" class="form-label">Middle initial</label>
                    <input type="text" class="form-control" width="3" name="minitial" id="minitial" placeholder="Middle Initial" value="{{body.minitial}}">
                </div>
                <div class="col-4">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" value="{{body.lastname}}">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="email">email</label>
                <input type="email" class="form-control" name="email" id="username" placeholder="example@someemail.com" value="{{body.email}}">
            </div>
            <div class="form-group">
                <label class="form-label" for="phone">Phone</label>
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone" value="{{body.phone}}">
            </div>
            <div class="form-group">
                <label class="form-label" for="address">Your full address</label>
                <textarea class="form-control" name="address" id="address" placeholder="Your full address" >{{body.address}}</textarea>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Must be at least 8 characters long and contain at least one letter, one number, and one special character">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
{% endblock %}