{% extends "base.html" %}
{% block title %} HSH Delivery Employee {% endblock %}
{% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/employee">Home Sweet Home Delivery</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/employee">Home</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit package information" href="/employee/package">Orders</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit user information" href="/employee/customers">Customers</a>
                    <a class="nav-item nav-link" title="generate reports" href="/employee/reports">Reports</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="infocolumns">
            <h3><a href="/employee/reports/payments">Payments that have been confirmed and completed</a></h3>
            <br><br>
            <h3><a href="/employee/reports/betweendates">List all lost/delayed/delivered packages between two dates</a></h3>
            <br><br>
            <h3><a href="/employee/reports/types">List the total number of package types (Regular, Fragile, Liquid, Chemical ) that have been sent between two dates</a></h3>
            <br><br>
            <h3><a href="/employee/reports/info">Package Delivery Tracking based on categories, locations and status. For example, list all fragile packages currently in transit at Riyadh</a></h3>
            <br><br>
            <h3><a href="/employee/reports/client">List all packages information either sent or received by a particular customer. </a></h3>
            
        </div>
    </main>
{% endblock %}