{% extends "base.html" %}
{% block title %} HSH Delivery Employee {% endblock %}
{% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/employee">Home Sweet Home Delivery</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/employee">Home</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit package information" href="/employee/package">Orders</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit user information" href="/employee/customers">Customers</a>
                    <a class="nav-item nav-link" title="generate reports" href="/employee/reports">Reports</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h3>All confirmed payments</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Package ID</th>
                    <th scope="col">Sender ID</th>
                    <th scope="col">Center ID</th>
                    <th scope="col">Cost</th>
                    <th scope="col">insurance_amount</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td>{{package.packageno}}</td>
                    <td>{{package.senderid}}</td>
                    <td>{{package.centerid}}</td>
                    <td>{{package.cost}}</td>
                    <td>{{package.insurance_amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}