{% extends "base.html" %}
{% block title %} HSH Delivery Employee {% endblock %}
{% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/employee">Home Sweet Home Delivery</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/employee">Home</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit package information" href="/employee/package">Orders</a>
                    <a class="nav-item nav-link" title="Add/Remove/Edit user information" href="/employee/customers">Customers</a>
                    <a class="nav-item nav-link" title="generate reports" href="/employee/reports">Reports</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- form asking for starting date ending date and status. there are 3 types of status "in transit", "delivered", "lost" -->
        <form action="/employee/reports/betweendates" method="post">
            <div class="form-group">
                <label for="start_date">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date" required>
            </div>
            <div class="form-group">
                <label for="end_date">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date" required>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" required>
                    <option value="in transit">In Transit</option>
                    <option value="delivered">Delivered</option>
                    <option value="lost">Lost</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br><br>
        {% if packages %}
        <h3>All Packages</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Package Number</th>
                    <th scope="col">Sender ID</th>
                    <th scope="col">Recipient ID</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Dimensions</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Package Category</th>
                    <th scope="col">Delivery Cost</th>
                    <th scope="col">Value of contents</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td>{{ package.packageno }}</td>
                    <td>{{ package.senderid }}</td>
                    <td>{{ package.receiverid }}</td>
                    <td>{{ package.employeeid }}</td>
                    <td>{{ package.status }}</td>
                    <td>{{ package.weight }}</td>
                    <td>{{ package.width + 'x' + package.height + 'x' + package.depth }}</td>
                    <td>{{ package.destination }}</td> {# <!--address of receiver--> #}
                    <td>{{ package.delivery_date }}</td>
                    <td>{{ package.category }}</td>
                    <td>{{ package.cost }}</td> {# <!--calculated from weight--> #}
                    <td>{{ package.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </main>
{% endblock %}