body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    padding: 0 4rem;
}
main{
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 1360px;
}

.mainContainer{
    background-color: #e4e2ce;
}

.error{
    background-color: red;
    color: white;
    padding: 1rem;
    font-weight: bold;
}

label{
    display: block;
    margin-bottom: 0.5rem;
}

input{
    margin-bottom: .5rem;
}

.nameLabel{
    display: inline-block;
    margin-left: 1rem;
}
img{
    margin: 0 auto;
    width: 400px;
    height: auto;
    border-radius: 90%;
}

.infocolumns{
    margin: 1rem 5vw;
}

@media only screen and ( min-width: 768px ){
    .infocolumns{
        column-count: 2;
        margin: 1rem 5vw;
    }
}